<div class="container">
  <h2>Hi Trainer </h2>
  <div class=a1>
    <div class="row">
      <div class="col-sm-10">
  <p><span  style="font-size: 130%">Bootstrap</span><span 
  style="position: absolute;left:15%">  student:Rangith</span></p>
  </div>
  <div class="col-sm">
  <button type="button" class="btn btn-success" >Update</button>
  <button type="button" class="btn btn-success">Rate</button>
  </div></div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%">
      25%
    </div>
  </div>
  <div class="row"> 
      <div class="col-sm-10">
  <p><span  style="font-size: 130%">Oracle</span>
    <span style="position:absolute;left:15%">  student:Rangith</span></p></div>
    <div class="col-sm">
        <button type="button" class="btn btn-success" >Update</button>
        <button type="button" class="btn btn-success">Rate</button>
        </div></div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
      60%
    </div>
  </div>
  <div class="row"> 
      <div class="col-sm-10">
  <p><span  style="font-size: 130%">Azure</span>
    <span style="position:absolute;left:15%">  student:Rangith</span></p></div>
    <div class="col-sm">
        <button type="button" class="btn btn-success" >Update</button>
        <button type="button" class="btn btn-success">Rate</button>
        </div></div>
  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
      90%
    </div>
  </div>
  <!-- <div class="row"> 
      <div class="col-sm-10">
<p><span  style="font-size: 130%">Asure </span><span style="position:absolute;left:15%">  mentor:Rangith</span></p>
  </div>
  <div class="col-sm">
      <button type="button" class="btn btn-success" >Update</button>
      <button type="button" class="btn btn-success">Rate</button>
      </div><div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
      90%
    </div>
  </div>-->
</div>
</div>
