<html>
<head>
<meta charset="UTF-8"> 
  <title>Hello World</title> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head> 
<body> 
    <div class="bg">
<form name="myform" [formGroup]="loginForm">
        <h2 >Login</h2>
        <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
           </div>
              <input  class="form-control" placeholder="Email address" type="email"  
              formControlName="username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">Email is required</div>
              <!-- <div *ngIf="f.username.errors.email">Email is incorrect</div> -->
          </div>
            </div>
    
          <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
                <input class="form-control" placeholder="Create password" type="password" 
                formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-primary "(click)="submit()">Login</button>
          </div> <!-- form-group// -->   
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                  <small>Don't have an account? Sign up <a routerLink="/register">here</a></small><br>
                 
</form>
</div>
</body>
</html>
