li a {
    display: block;
    color:white;
    
  }
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  
  .active{background-color:rgb(32, 172, 78)}
  
  .headings{
      float:right;
      position:absolute; 
      top:20%;left:30%;
      
  }
  h2{
    margin-top:30px;
    text-align: center
  }
