    <div class=bg>
    <h2>Welcome</h2>
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">S.No</th>
          <th scope="col">Name</th>
          <th scope="col">Skill</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Ranjith</td>
          <td>C</td>
          <td>Completed</td>
          
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Sujatha</td>
            <td>Java</td>
          <td>Completed</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Harsh</td>
            <td>C#</td>
            <td>Completed</td>
          
        </tr>
      </tbody>
    </table>
    </div>
  